{% extends "layout/main.html" %} {% block body %}
<h1>{{movie.title}}</h1>
<p>
  Directed by {{movie.director}}
  <br />
  Released: {{movie.release_year}}
  <br />
  Cast: {{movie.cast}}
  <br />
</p>

{% if loggedIn == True %}
<form class="review-form">
  <div>
    <label for="stars"
      >How many stars out of 5 would you give this movie?</label
    >
    <input
      id="stars"
      type="number"
      placeholder="ex: 4.5 stars"
      size="5"
      min="0"
      max="5"
      style="width: 100px"
    />
  </div>
  <div>
    <label for="review-body"
      >Describe your review of this Movie/T.V. Show</label
    >
    <textarea name="review-body"></textarea>
  </div>

  <div>
    <button type="submit">add review</button>
    <!-- <button type="button" class="upvote-btn">upvote</button> -->
  </div>
</form>
{% else %}
<h2>Login or sign up to leave your review!</h2>
{% endif %} {% endblock %}
<script src="/javascript/review.js"></script>
